.product-card {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.product-card .thumbnail-container {
    width: 64px;
    height: 64px;
}

.thumbnail-container img.img-thumbnail {
    width: 100%;
    height: 100%;
}